/cods-lab1/.vscode/
/cods-lab1/hello.c
/cods-lab1/helloArg.c
/cods-lab1/helloArgs.c
/cods-lab1/helloJoin.c
/cods-lab2/atividade1/
/cods-lab2/atividade2/
/cods-lab3/geraMatrizBinario.c
/cods-lab3/leMatrizBinario.c
/cods-lab3/matvet.c
/cods-lab3/timer.h
/cods-lab4
/cods-lab5/barreira.c
/cods-lab5/exemplo.c
/cods-lab5/hellobye.c