/cods-lab1/.vscode/
/cods-lab1/hello.c
/cods-lab1/helloArg.c
/cods-lab1/helloArgs.c
/cods-lab1/helloJoin.c
/cods-lab2/atividade1/
/cods-lab2/atividade2/
/cods-lab3/geraMatrizBinario.c
/cods-lab3/leMatrizBinario.c
/cods-lab3/matvet.c
/cods-lab3/timer.h
/cods-lab3/atividade1/geraMatrizesBinario.c